<% include ../partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <% var i = 1; %>
            <% postsWithImages.forEach(function(post){ %>
            
                <% if (i === 1) { %>
                    <div class="col-md-12">
                        <div href="<%= post.st.url %>" class="thumbnail big-image">
                            <div class='thumbnail-img'>
                                <img class="img-responsive" style="width:100%" src="<%= post.og.ogImage.url %>">
                                <div class='title-overlay'>
                                    <h2><a href="<%= post.st.url %>"><%= post.og.ogTitle %></a></h2>
                                </div>
                            </div>
                            <div class="caption">
                                <% if (post.og.ogDescription && post.og.ogDescription != ""){ %>
                                    <p><%= post.og.ogDescription %></p>
                                <% } %>
                            </div>
                        </div>
                    </div>
                <% } %>

                <% if (i > 1 && i <= 9 ) { %>
                    <div class="col-md-6">
                        <div class="thumbnail thumbnail-cube">
                            <img class="img-cube" src="<%= post.og.ogImage.url %>">
                            <div class='title-overlay'>
                                <h4><a href="<%= post.st.url %>"><%= post.og.ogTitle %></a></h4>
                            </div>
                        </div>
                    </div>
                <% } %>
                
                <% i++ %>
            <% }); %>
            

            
        </div>
        <div class="col-md-4">
            <% var i = 1; %>
            <% postsWithImages.forEach(function(post){ %>
                <% if (i > 9 ) { %>
                    <div class="col-md-6 side-bar ">
                        <div class="thumbnail thumbnail-side">
                            <img class="img-cube-side" src="<%= post.og.ogImage.url %>">
                            <div class='caption'>
                                <p>
                                    <a href="<%= post.st.url %>" title="<%= post.og.ogTitle %>">
                                        <%= post.og.ogTitle.length > 80 ? post.og.ogTitle.substring(0,80) + "..." : post.og.ogTitle %>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                <% } %>
                <% i++ %>
            <% }); %>
            
            
            <ul class='list-unstyled'>
                <div class='col-md-12 side-bar'>
            <% postsTextOnly.forEach(function(post){ %>
                
                    <div class='thumbnail'>
                        <div class='caption'>
                            <% if (post.og.ogTitle && post.og.ogTitle) { %>
                                <h4><a href="<%= post.st.url %>"><%= post.og.ogTitle %></a></h4>
                            <% } else { %>
                                <h4><a href="<%= post.st.url %>"><%= post.st.title %></a></h4>
                            <% } %>
                        </div>
                    </div>
               
            <% }); %>
             </div>
            </ul>
        </div>
    </div>
    <div class="btn-group nav-buttons" role="group" aria-label="...">
        <a href="./<%= subreddit %>?count=25&before=<%= allPosts[0].data.name %>" class="btn btn-danger">Previous</a>
        <a href="./<%= subreddit %>?count=25&after=<%= allPosts[24].data.name %>" class="btn btn-danger">Next</a>
    </div>
</div>




<% include ../partials/footer %>